/*
 Radiation Estimator is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

 You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

/* styles.css */

.SubmitButton {
  background-color: #ff0000;

  color: #ffffff;
  padding: 12px 20px;
  border: none;
  margin-left: 175px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth animation */
}

.SubmitButton:hover {
  background-color: #00ff40;
}

/* Add more styles as needed */
